<section class= "container" >
  <div class= "divider">
    <div class="row">
      <div class="col-xs-12 divTitle">
        <hr>
        <div class="text">
          <h4>EDIT CLASS TYPE</h4>
        </div>
      </div>
    </div>
  </div>

  <section class= "formContainer">

    <form ng-show="main.user.admin === 'admin'" ng-submit="controller.update()">

      <div class="form-group">
        <input class="form-control" type="text" name="name" ng-model="controller.genre.name" placeholder="Name of Genre">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="description" ng-model="controller.genre.description" placeholder="Description">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="image" ng-model="controller.genre.image" placeholder="image">
      </div>
      <div class="buttonGroup">

        <button class="btn " ui-sref="genresIndex">Cancel</button>
        <button class="btn " type="submit">SAVE</button>
      </div>
    </form>
    <div class="buttonGroup">

      <button ng-show="main.user.admin === 'admin'"  class="btn " ng-click="controller.delete()" name="button">DELETE CLASS TYPE</button>
    </div>
  </section>
</section>
