<section class= "container" >
  <div class= "divider">
    <div class="row">
      <div class="col-xs-12 divTitle">
        <hr>
        <div class="text">
          <h4>CURRENT CLASS TYPES</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="buttonGroup">
    <button ng-show="main.user.admin === 'admin'" class="btn " ui-sref="genresNew">ADD NEW CLASS TYPE</button>
  </div>
  <br>
  <div class= "genreSection">
    <ul class= "row">
      <li class= "col-xs-4" ng-repeat="genre in controller.genres">
        <div class="genrePhoto" ui-sref="genresShow({ id: genre.id })">
          <img class="img-fluid" src="{{genre.image}}">
        </div>
        <p>{{genre.name | uppercase}}</p>
        <div class="buttonGroup">
          <button ng-show="main.user.admin === 'admin'" class="btn " ui-sref="genresEdit({ id: genre.id })">EDIT</button>
        </div>

      </li>
    </ul>
  </div>
  <!-- <ul>
  <li ng-repeat="genre in controller.genres">
  <h4 ui-sref="genresShow({ id: genre.id })">{{ genre.name | uppercase}}</h4>
  <img src="{{genre.image}}" width="200">
  <a ng-show="main.user.admin === 'admin'" ui-sref="genresEdit({ id: genre.id })">EDIT</a>
</li>
</ul> -->
</section>
