<section class= "" >
  <div class= "divider">
    <div class="row">
      <div class="col-xs-12 divTitle">
        <hr>
        <div class="text">
          <h4>CREATE A NEW CLASS TYPE</h4>
        </div>
      </div>
    </div>
  </div>

  <section class= "formCont">
    <form ng-show="main.user.admin === 'admin'" ng-submit="controller.NewGenre()">

      <div class="form-group">
        <input class="form-control" type="text" name="name" ng-model="controller.genre.name" placeholder="Name of Genre">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="description" ng-model="controller.genre.description" placeholder="Description">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="image" ng-model="controller.genre.image" placeholder="image">
      </div>
      <div class="buttonGroup">
        <div class="buttonGroup">
          <button class="btn " ui-sref="genresIndex"><p>CANCEL</p></button>
          <button class="btn " type="submit"><p>SAVE</p></button>
        </div>
      </div>
    </form>
  </section>
</section>
