<h1>Register</h1>
<form ng-submit="register.register()">

  <div class="form-group">
    <input class="form-control" type="text" name="firstname" ng-model="register.user.firstname" placeholder="First name">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="lastname" ng-model="register.user.lastname" placeholder="Last name">
  </div>
  <div class="form-group">
    <input class="form-control" type="email" name="email" ng-model="register.user.email" placeholder="Email">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="description" ng-model="register.user.description" placeholder="Tell us a bit about yourself">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="image" ng-model="register.user.image" placeholder="Image">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="password" ng-model="register.user.password" placeholder="Password">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="password_confirmation" ng-model="register.user.password_confirmation" placeholder="Password confirmation">
  </div>
  <div class="form-group">
    <input class="form-control" type="hidden" name="admin" ng-model="register.user.admin" value="client">
  </div>

  <input class="btn " type="submit" value="Submit" />
</form>
