<section class= "" >
  <div class= "divider">
    <div class="row">
      <div class="col-xs-12 divTitle">
        <hr>
        <div class="text">
          <h4>CURRENT LOCATIONS</h4>
        </div>
      </div>
    </div>
  </div>

<button ng-show="main.user.admin === 'admin'" class="btn " ui-sref="locationsNew">ADD NEW LOCATION</button>

<ul>
  <li ng-repeat="location in controller.locations">
    <h4 ui-sref="locationsShow({ id: location.id })">{{ location.name | uppercase }}</h4>
    <a ng-show="main.user.admin === 'admin'" ui-sref="locationsEdit({ id: location.id })">EDIT</a>

  </li>
</ul>
</section>
