<section class= "">
  <div class= "divider">
    <div class="row">
      <div class="col-xs-12 divTitle">
        <hr>
        <div class="text">
          <h4>{{controller.user.firstname | uppercase}} {{controller.user.lastname | uppercase}}</h4>
        </div>
      </div>
    </div>

    <div class="row userShow">
      <div class="col-xs-5">
        <div class="userImg">
          <img src="{{controller.user.image}}" >
        </div>
      </div>
      <div class="col-xs-7">
        <p>{{controller.user.description}}</p>
        <p>{{controller.user.email}}</p>
        <button class="btn " ui-sref="usersEdit({ id: controller.user.id })"><p>EDIT</p></button>

      </div>
    </div>
  </div>

  <!-- <h4>{{controller.user.description | uppercase}}</h4>
  <img src="{{controller.user.image}}" width="220"> -->
  <!-- <button class="btn " ui-sref="home"><p>BACK</p></button> -->

  <div class= "divider">
    <div class="row">
      <div class="col-xs-12 divTitle">
        <hr>
        <div class="text">
          <h4>MY CLASSES</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="lessonSection">
    <ul class="row">
      <li class= "col-xs-4" ng-repeat="lesson in controller.user.lessons">
        <div class="lessonInfo" ui-sref="lessonsShow({ id: lesson.id })">
          <div class="lessonText">
          <h5 >Date: {{ lesson.date| date: 'shortDate'}}</h5>
          <p> {{ lesson.genre.name | uppercase }} </p>
          <p> {{ lesson.time | date: "h:mma" }}</p>
          <p> Teacher: {{ lesson.teacher.name | uppercase}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

</section>
