<section class="topImage">
  <!-- <div class="container"> -->
    <div class="row title">
      <div class="col-xs-12"><h1>Lets Shake Things Up!</h1></div>
    </div>
  <!-- </div> -->
  <img src="https://cdn.pixabay.com/photo/2016/08/05/19/29/rock-1573068_960_720.jpg" alt="">
</section>

<ul>

<li ng-show="main.user">
  <a ui-sref="lessonsIndex"><p>Add or Edit a Class</p></a>
</li>
<li ng-show="main.user.admin === 'admin'">
  <a ui-sref="teachersIndex"><p>Add or Edit a Teacher</p></a>
</li>
<li ng-show="main.user.admin === 'admin'">
  <a ui-sref="genresIndex"><p>Add or Edit a Class Type</p></a>
</li>
<li ng-show="main.user.admin === 'admin'">
  <a ui-sref="locationsIndex"><p>Add or Edit a Location</p></a>
</li>
</ul>
