<section class="topImage">
    <div class="row title">
      <div class="col-xs-12"><h1>FITNESS FUN</h1></div>
    </div>
    <div class="titleImage">
  <img src="/images/rock-1573068_1920.jpg">
</div>
</section>

<section class= "" >

<div class= "divider">
  <div class="row">
    <div class="col-xs-12 divTitle">
      <hr>
      <div class="text">
      <h4>OUR CLASSES</h4>
    </div>
    </div>
  </div>
</div>

<div class= "genreSection">
  <ul class= "row">
    <li class= "col-xs-4" ng-repeat="genre in main.genre">
      <div class="genrePhoto" ui-sref="genresShow({ id: genre.id })">
          <img class="img-fluid" src="{{genre.image}}">
      </div>
      <p>{{genre.name | uppercase}}</p>
    </li>
  </ul>
</div>


<div class= "divider">
  <div class="row">
    <div class="col-xs-12 divTitle">
      <hr>
      <div class="text">
        <h4>OUR TEACHERS</h4>
      </div>
    </div>
  </div>
</div>


<div class="allTeachers">
  <ul class="row">
    <li class="col-xs-4" ng-repeat="teacher in main.teacher">
      <div class="allTeacherImg" ui-sref="teachersShow({ id: teacher.id })">
        <img src="{{teacher.image}}" width="100">
      </div>
      <p>{{teacher.name | uppercase}}</p>
    </li>
  </ul>
</div>

</section>
