<section class= "" >
  <div class= "divider">
    <div class="row">
      <div class="col-xs-12 divTitle">
        <hr>
        <div class="text">
          <h4>CURRENT CLASSES</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonGroup">
    <button ng-show="main.user.admin === 'admin'" class="btn " ui-sref="lessonsNew">ADD NEW LESSON</button>
  </div>

  <div class="lessonSection">
    <ul class="row">
      <li class= "col-xs-4" ng-repeat="lesson in controller.lessons">
        <div class="lessonInfo" ui-sref="lessonsShow({ id: lesson.id })">
          <div class="lessonText">
          <h5 >Date: {{ lesson.date| date: 'shortDate'}}</h5>
          <p> {{ lesson.genre.name | uppercase }} </p>

          <p> {{ lesson.time | date: "h:mma" }}</p>
          <p> Teacher: {{ lesson.teacher.name | uppercase}}</p>
          </div>
          <!-- <img src="https://cdn.pixabay.com/photo/2016/08/05/19/29/rock-1573068_960_720.jpg" alt=""> -->
          <div class="buttonGroup">
            <button ng-show="main.user.admin === 'admin'" class="btn " ui-sref="lessonsEdit({ id: lesson.id })">EDIT</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

</section>
