<section class= "container" >
  <div class= "divider">
    <div class="row">
      <div class="col-xs-12 divTitle">
        <hr>
        <div class="text">
          <h4>LESSON SCHEDULE</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonGroup">
    <button ng-show="main.user.admin === 'admin'" class="btn " ui-sref="lessonsNew">ADD NEW LESSON</button>
  </div>

  <div class="lessonSection">
    <ul class="row">
      <li class= "col-xs-4" ng-repeat="lesson in controller.lessons">
        <div class="lessonInfo" ui-sref="lessonsShow({ id: lesson.id })">
          <div class="lessonText">
          <p> {{ lesson.genre.name | uppercase }} </p>
          <p >{{ lesson.date| date: 'shortDate'}} at {{ lesson.time | date: "h:mma" }}</p>
          <!-- <p> Teacher: {{ lesson.teacher.name | uppercase}}</p> -->
          <div class="showLessonImg">
            <img src="{{lesson.genre.image}}" alt="">
          </div>
          </div>
          <div class="buttonGroup">
            <button ng-show="main.user.admin === 'admin'" class="btn " ui-sref="lessonsEdit({ id: lesson.id })">EDIT</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

</section>
