<section class="topImage">
    <div class="row title">
      <div class="col-xs-12"><h1>{{controller.lesson.genre.name | uppercase}}</h1></div>
    </div>
  <img src="{{controller.lesson.genre.image}}" alt="">
</section>

<section class= "container">
<a ng-show="main.user.admin === 'admin'" ui-sref="lessonsEdit({ id: controller.lesson.id })">Edit</a>
<button type="button" name="button"><a ui-sref="lessonsIndex">Back</a></button>

<div class= "divider">
  <div class="row">
    <div class="col-xs-12 divTitle">
      <hr>
      <div class="text">
        <h4>DESCRIPTION</h4>
      </div>
    </div>
  </div>
</div>

<div class="description">
<p>{{controller.lesson.genre.description | uppercase}}</p>
<p> Time: {{ controller.lesson.time | date: "h:mma" }}</p>
<p> Date: {{ controller.lesson.date}}</p>
</div>


<div class= "divider">
  <div class="row">
    <div class="col-xs-12 divTitle">
      <hr>
      <div class="text">
        <h4>THE TEACER</h4>
      </div>
    </div>
  </div>
</div>

<img src="{{controller.lesson.teacher.image}}" width="100">
<p>{{controller.lesson.teacher.description | uppercase}}</p>


<div class= "divider">
  <div class="row">
    <div class="col-xs-12 divTitle">
      <hr>
      <div class="text">
        <h4>THE LOCATION</h4>
      </div>
    </div>
  </div>
</div>

<h5>{{controller.lesson.location.name | uppercase}}</h5>
<p>{{controller.lesson.location.address | uppercase}}</p>
<google-map center="{ lat: controller.lesson.location.lat, lng: controller.lesson.location.long }"></google-map>


<div class= "divider">
  <div class="row">
    <div class="col-xs-12 divTitle">
      <hr>
      <div class="text">
        <h4>WHO'S GOING</h4>
      </div>
    </div>
  </div>
</div>

<ul>
<li ng-repeat="user in controller.lesson.users">
  <img src="{{user.image}}" width="40">
</li>
</ul>

<button type="submit" name="button" ng-click="controller.attending()">JOIN</button>
<button type="submit" name="button" ng-click="controller.notAttending()">LEAVE</button>
</section>
