footer{
  width: 100%;
  text-align: center;
  background-color: #2e2e2e;
  margin-bottom: 0;
  p{
    font-size: 2vw;
    margin: 2%;
    color: #6dc2bc;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;

  }
}
