.genreSection{
  text-align: center;
  padding: 0;
  .row{
    padding: 0;
    .genrePhoto{
      cursor: pointer;
      width: 28vw;
      height: 15vw;
      // background-color: red;
      overflow: hidden;
      margin: 0 auto;
    }
  }
}

.lessonSection{
  text-align: center;
  padding: 0;
  margin-left: 7%;
  margin-right: 7%;
  .row{
    padding: 0;
    li{
      padding: 0;
      .lessonInfo{
        cursor: pointer;
        width: 28vw;
        height: 17vw;
        background-image: url("https://cdn.pixabay.com/photo/2016/08/05/19/29/rock-1573068_960_720.jpg");
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        .lessonText{

          padding-top: 2%;
        }
      }
    }

  }
}

.allTeachers{
  text-align: center;
  padding: 0;
  .row{
    padding: 0;
    .allTeacherImg{
      cursor: pointer;
      width:20vw;
      height:20vw;
      // background-color: red;
      overflow: hidden;
      margin: 0 auto;
    }
  }
}

.description{
  text-align: center;
}

// users images
.attending{
  .attendImg{
    width:10vw;
    height:10vw;
    // background-color: red;
    overflow: hidden;
  }
}

//teachers images
.teacherShow{
  margin-left: 5%;
  margin-right: 5%;
  .teacherImg{
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    text-align: center;
    // background-color: red;
  }
}
//user images
.userShow{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 0;
  .userImg{
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    text-align: center;
    // background-color: red;
  }
}


// ********** LANDING PAGE ****************
.about{
  text-align: center;
  .para{
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
