.topImage{
  position: relative;
  cursor: pointer;
  .titleImage{
    height: 40vw;
    overflow: hidden;
  }
  img {
    width:100%;
    // height: 50%;
    padding: 0;
    margin: 0;
  }
  .title{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 13vw;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 8px black;
    h1{
      color: #6dc2bc;
      // text-shadow: -1px 0px 3px #FFFFFF;
    }
    h3{
      color: #6dc2bc;
      // text-shadow: -1px 0px 3px #FFFFFF;
    }
  }
}
