@import 'map';
@import 'topImage';
@import 'nav';
@import 'divider';
@import 'form';
@import 'button';

h1{
  font-size: 12vw;
}

h2{
  font-size: 6vw;
}

h3{
  font-size: 5vw;
}

h4{
  font-size:4vw;
}

h5{
  font-size:3vw;
}
p{
  font-size: 2vw;
}


main {
  font-family: 'Quicksand', sans-serif;
  margin-top: 6%;
}

ul{
  list-style-type: none;
}
