@import 'map';
@import 'topImage';
@import 'nav';
@import 'divider';

h1{
  font-size: 15vw;
}

h2{
  font-size: 3vw;
}

h3{
  font-size: 2vw;
}
//
// h4{
//   font-size:
// }
//
// h5{
//   font-size:
// }


main {
  font-family: 'Quicksand', sans-serif;
}

ul{
  list-style-type: none;
}

.formContainer{
  margin-left: 15%;
  margin-right: 15%;
  .buttonGroup{
    text-align: center;
  }
}
